body {
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: papayawhip;
}

.post {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid palegreen;
    margin: 0 auto;
}
.post :nth-child(1) {
    font-size: 40px;
}